@model Midterm2.Models.MathOperations

<p> This is Math Operations :
  <ul>
    <li>@Model.Addition</li>
    <li>@Model.Subtraction</li>
    <li>@Model.Multiplication</li>
    <li>@Model.Division</li>
    <li>@Model.Result</li>
  </ul>
</p>    